main {
  min-height: 400px;
  background-color: #799eb6;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  display: flex;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  resize: vertical;
  color: #225470;
}

input[type="submit"] {
  background: red;
  color: white;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  padding: 10px 20px;
  box-shadow: 1px 1px 2px black;
  cursor: pointer;
  margin-top: 20px;
}

input:hover {
  background: white;
  color: red;
}

/*contact form container and label id*/
.container {
  width: 50em;
  min-width: 360px;
  text-align: center;
  margin: 5% auto;
  background-color: #112633;
  padding: 30px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.id-label {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.id-entry {
  float: left;
  width: 60%;
  margin-top: 6px;
}

.identity-label:after {
  content: "";
  display: table;
  clear: both;
}

/*footer*/
.page-footer {
  background-color: #225470;
  padding: 20px 0 20px;
  line-height: 5px;
}

.footer-copyright {
  color: #fff;
  font-size: 10px;
  padding: 20px 20px;
  margin-top: 5px;
  color: white;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .container {
    width: 50em;
    min-width: 260px;
  }
}

@media screen and (max-width: 600px) {
  .id-label,
  .id-entry,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
